/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#gameBoard {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
}

@media only screen and (max-width: 1920px) {
.board-container {

    max-width: 40%;
    }
}

.focused-token{
    border-style: dashed;
}

.ai-human-switch{
    padding-top: 2em;
}

.unselectable{
    border-style: groove;
    border-color: red;
}

.threeInARowElement{
    border-style: double;
    border-color: lightblue;
}